/* rotate-> transform:rotate(45deg) */
section{
    margin-top:100px;
}

div{
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: aliceblue;
    border: 2px solid black;
    margin: 10px;
    margin-top: 10px auto;
}

div:nth-of-type(3n){
    background-color: rgb(164, 110, 45);
}
div:nth-of-type(2n){
    background-color: rgb(21, 107, 24);
}
div:nth-of-type(5n){
    background-color: rgb(21, 57, 107);
}

/* transform */
#one{
    transform: rotate(15deg);
}
#two{
    transform: rotate(-15deg);
    /*scale*/
    transform: scale(1); /*scale(x,y)*/
}

/*Translate-transform:translate(50px,50px)*/
#three{
    transform: translateX(100px);
}

/* Skew->transform:skew(30deg)*/
#four{
    transform: skew(30deg);
}

#five{
    transform: rotate(30deg)  translate(150px);
}  