div{
    width: 400px;
    height: 200px;
    text-align: center;
    background-color: green;
    margin: 10px auto;
    color: white;
    /* box-shadow: 2px 2px 8px black; */

    background-image:url(https://images.unsplash.com/photo-1731432248531-819b94ee2dcd?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHw0fHx8ZW58MHx8fHx8);
    background-size: contain;
    background-size: cover;  
    /* more will be used */
    
    background-size: auto;
}
