/* Universal Selector */
*{         
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} 

/* Elenment Selector */
h3{
    color: aqua;
}
h1{
    color: brown;
}

/* Id Selector*/
#login{
    color:rebeccapurple;
}
#signup{
    color: rgb(57, 34, 1);
}

/* Class Selector */
.upvote{
    color: blueviolet;
}

/* descendant selector */
p a {
    color: purple;
    background-color:yellow;
}

/*  Sibling combinator */
.upvote + button {
    background-color: cornflowerblue;
    color: darkblue;
}

/* Child Combinator */
div > button{
    background-color: darksalmon;
}
/* attribute selector */

input[type="text"]{
    color: red;
}

input [type="password"]{
    color: blue;
}

h1::first-letter{
    color: green;
}  